@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #fff;
}

body,
html {
  overflow-x: hidden;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}

.headerBtn {
  display: flex;
  align-items: center;
  gap: 41px;
}

.input_class {
  position: absolute;
  right: 999999px;
  visibility: hidden;
}

.checkbox {
  position: relative;
}

.checkbox input:checked ~ .burgerMenu {
  right: -232px;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}

.btnCounter {
  position: relative;
}

.btnCounter:hover::after {
  content: "5";
  top: 1px;
  right: -3px;
  position: absolute;
}

.btnCounter:hover::before {
  content: url(./img/iconBasketCounter.svg);
  position: absolute;
  top: 0px;
  right: -8px;
}

.top-head {
  background: #F8F3F4;
}
.top-head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.top-head__heading {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #636363;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
}
.breadcrumbs__link:last-child {
  font-weight: 700;
  color: #F16D7F;
}

.regForm-loyality {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  gap: 128px;
  font-family: "Lato", "sans-serif";
}

.regForm {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 360px;
}
.regForm__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regForm__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  max-height: 110px;
}
.regForm__input {
  padding: 13px 0 16px 18px;
  border: 1px solid #a4a4a4;
}
.regForm__input::-moz-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.regForm__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.regForm__heading {
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.regForm__sex {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 11px;
  color: #000;
}
.regForm__sex_item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.regForm__form_passDisciption {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.regForm__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 170px;
  border: 1px solid #a4a4a4;
  padding: 16px 30px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  height: 50px;
}
.regForm__btn:hover {
  background-color: #F16D7F;
  color: #fff;
  border: none;
  transition: 0.3s;
}
.regForm__btn:hover path {
  fill: #fff;
  transition: 0.3s;
}

.loyality {
  width: 652px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.loyality__heading {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.loyality__discription {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.loyality__advantages {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.loyality__advantages_item {
  display: flex;
  gap: 22px;
  align-items: center;
}
.loyality__advantages_item h2 {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}

.selectedProduct-adress {
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
  gap: 128px;
}

.selectedProduct {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.selectedProduct__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.selectedProduct__box {
  display: flex;
  width: 652px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
}
.selectedProduct__box-img {
  width: 262px;
}
.selectedProduct__parametrs {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 22px 22px 0 31px;
}
.selectedProduct__box-top {
  display: flex;
  gap: 110px;
}
.selectedProduct__box-top-header {
  font-family: "Lato";
  font-weight: 400;
  font-size: 24px;
  color: #222;
}
.selectedProduct__box-top-btn {
  margin-top: 7px;
  cursor: pointer;
  display: flex;
  align-items: start;
  border: none;
  background: none;
}
.selectedProduct__param-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.selectedProduct__param-box h2 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 22px;
  color: #575757;
}
.selectedProduct__param-box-price {
  color: #F16D7F;
}
.selectedProduct__selectedProduct__param-box-text {
  color: #6f6e6e;
}
.selectedProduct__param-box-quantity {
  display: flex;
  gap: 24px;
}
.selectedProduct__param-box-quantity-input {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  color: #656565;
  width: 44px;
  height: 25px;
  border: 1px solid #eaeaea;
}
.selectedProduct__btn {
  display: flex;
  justify-content: space-between;
}
.selectedProduct__btn-format {
  border: 1px solid #a4a4a4;
  padding: 16px 40px;
  background-color: #fff;
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}
.selectedProduct__btn-format:hover {
  color: #ffffff;
  background-color: #F16D7F;
  transition: 0.3s;
}

.adress {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.adress__box {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 275px;
}
.adress__box h2 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #222;
}
.adress__input {
  border: 1px solid #a4a4a4;
  padding: 13px 0 16px 16px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
  color: #b1b1b1;
}
.adress__input::-moz-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
  color: #b1b1b1;
}
.adress__input::placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
  color: #b1b1b1;
}
.adress__btn {
  width: 30%;
  border: 1px solid #a4a4a4;
  padding: 10px 14px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 11px;
  color: #4a4a4a;
  background-color: #fff;
  cursor: pointer;
}
.adress__btn:hover {
  color: #fff;
  background-color: #F16D7F;
}
.adress__price-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5f3f3;
  padding: 42px;
}
.adress__subPrice-box {
  display: flex;
  gap: 20px;
}
.adress__subPrice-box-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 11px;
  color: #4a4a4a;
}
.adress__totalPrice-box {
  display: flex;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 21px;
}
.adress__totalPrice-box-text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.adress__totalPrice-box-price {
  font-family: "Lato";
  color: #F16D7F;
  font-weight: 700;
}
.adress__price-box-btn {
  padding-top: 17px;
  border-top: 1px solid #e2e2e2;
}
.adress__price-box-btn-format {
  width: 100%;
  border: 1px solid #a4a4a4;
  padding: 16px 42px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #fff;
  cursor: pointer;
}
.adress__price-box-btn-format:hover {
  color: #fff;
  background-color: #F16D7F;
  border: none;
}

.swiper {
  background: #f7f7f7;
  border: 1px solid #eaeaea;
  margin-bottom: -75px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  padding: 10px 0px 40px 0px;
}

.producDiscription {
  position: relative;
  z-index: 5;
  border: 1px solid #eaeaea;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  padding-bottom: 64px;
  margin-bottom: 128px;
}
.producDiscription__type {
  padding: 65px 0 12px;
  width: 1140px;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.producDiscription__name {
  padding: 12px 0 48px;
  width: 1140px;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}
.producDiscription__discription {
  width: 570px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}
.producDiscription__price {
  width: 1140px;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-bottom: 64px;
}
.producDiscription__parameters {
  display: flex;
  justify-content: center;
  width: 1140px;
  padding: 64px 0 48px;
  gap: 15px;
}
.producDiscription__parameters_select {
  color: #6f6e6e;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.producDiscription__btnAddToCart {
  display: flex;
  align-items: center;
  color: #F16D7F;
  gap: 22px;
  justify-content: center;
  background: none;
  border: 1px solid #F16D7F;
  padding: 12px 57px 12px 24px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.filter-sort {
  height: 132px;
  position: relative;
}

.filter {
  width: 360px;
  padding: 13px 16px 16px;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 39px;
}
.filter[open] .filter__header {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__header {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.filter__box {
  padding-top: 16px;
}
.filter__item {
  display: flex;
  flex-direction: column;
}
.filter__item[open] .filter__item-summary {
  color: #F16D7F;
}
.filter__item-summary {
  font-family: Lato;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 0 12px 11px;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6f6e6e;
}

.sort {
  display: flex;
  gap: 28px;
  position: absolute;
  top: 51px;
  left: 390px;
}
.sort__summary {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort__header {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6f6e6e;
}
.sort__checkbox-box {
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  top: 25px;
  left: 152px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 7px 0 11px 9px;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  background: #fff;
  width: 80px;
}
.sort__label {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #6f6e6e;
}

.main {
  background: #F8F3F4;
}
.main__wrapper {
  display: flex;
  justify-content: start;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 65px;
  position: relative;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0 32px 32px;
  position: absolute;
  top: 51px;
  right: -999999px;
  background: #ffffff;
  width: 200px;
  z-index: 10;
  transition: right 0.3s;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
}
.burgerMenu__categories {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 21.5px;
}

.hidden {
  display: none;
}

.burgerMenu h2,
a {
  font-family: "Lato", sans-serifLa;
  font-size: 14px;
}

.burgerMenu a {
  color: #6f6e6e;
}

.burgerMenu__text-fw {
  font-weight: 700;
  color: #000;
}

.burgerMenu__text-red {
  color: #F16D7F;
}

.burgerMenu__text-a {
  color: #6f6e6e;
}

.mainLeftSide {
  max-width: 800px;
}

.mainRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 290px 0 381px 91px;
}

.text {
  color: #000;
  font-family: "Lato", sans-serif;
}

.textFormat {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.textMainTitle {
  font-weight: 900;
  font-size: 48px;
}

.textMain {
  font-size: 32px;
  font-weight: 700;
}

.redColor {
  color: #F16D7F;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}

.cardFirst {
  width: 360px;
  height: 260px;
  background-image: url(./img/cardsPicture1.png);
}

.shadow {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

h4 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.textCardFormat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardSecond {
  width: 360px;
  height: 260px;
  background-image: url(./img/cardsPicture2.png);
}

.cardThird {
  width: 360px;
  height: 260px;
  background-image: url(./img/cardsPicture3.png);
}

.cardFourth {
  width: 1140px;
  height: 180px;
  background-image: url(./img/cardsPicture4.png);
}

.textSalesTitle {
  font-size: 30px;
  font-weight: 400;
}

.textSales {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.salesTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
  margin-bottom: 48px;
}

.salesCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.salesCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  background-color: #f8f8f8;
}
.salesCard__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.salesCard__btnAddToCart {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 11px;
  justify-content: center;
  top: 188px;
  left: 110px;
  right: 110px;
  background: none;
  border: 1px solid #ffffff;
  padding: 11px 8px 13px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  opacity: 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.75s;
}

.salesCard__image:hover .overlay {
  background: rgba(58, 56, 56, 0.86);
  transition: 0.75s;
}

.salesCard__image:hover .salesCard__btnAddToCart {
  opacity: 1;
  transition: 0.75s ease;
  transform: translateY(-20px);
}

.saleCardName {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding: 0 16px;
  margin-top: 8px;
}

.saleCardDiscript {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  padding: 0 30px 0 16px;
}

.saleCardPrice {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 24px 16px;
}

.btnCentr {
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  padding: 15px 39px;
  margin-bottom: 60px;
  cursor: pointer;
  margin-top: 18px;
  transition: 0.3s ease;
}

.padd {
  padding-top: 128px;
}

.btnCentr:hover {
  color: #ffffff;
  background-color: #f16d7f;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.pagination {
  display: flex;
  gap: 18px;
  align-items: center;
  margin: 48px 0 96px;
  padding: 12px 16px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}
.pagination__numbers {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #c4c4c4;
}
.pagination__numbers-first {
  color: #F16D7F;
}

.advantages {
  color: #fbfbfb;
  background: #222222;
  font-family: Lato;
}
.advantages__wrapper {
  display: flex;
  justify-content: center;
  padding: 104px 0;
}
.advantages__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 0 20px;
}
.advantages__title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  padding: 28px 0 16px 0;
}
.advantages__title-pad {
  padding-top: 20px;
}
.advantages__title-pad2 {
  padding-top: 25px;
}

.subscribe {
  background-image: url(./img/subScribeback.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__wrapper {
  display: flex;
  justify-content: center;
  gap: 300px;
}
.subscribe__shadow {
  background-color: rgba(244, 244, 244, 0.7);
}
.subscribe__leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 358px;
  padding: 97px 0 165px 0;
}
.subscribe__leftSide-text {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
}
.subscribe__leftSide-italic {
  font-style: italic;
}
.subscribe__rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 156px 0;
}
.subscribe__rightSide-text {
  text-align: center;
  font-family: Lato;
  line-height: 167.2%;
}
.subscribe__form {
  padding-top: 32px;
  display: flex;
}
.subscribe__input {
  border-radius: 30px 0 0 30px;
  padding: 0 64px 0 22px;
  background-color: #e1e1e1;
  border: none;
}
.subscribe__btn {
  border-radius: 0 30px 30px 0;
  border: none;
  background-color: #F16D7F;
  padding: 10px 18px;
  cursor: pointer;
}

h1 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

button {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.footer {
  background-color: #222222;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.footer__text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.footer__icons {
  display: flex;
  gap: 7px;
}
.footer__icons-btn {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 32px;
  height: 32px;
  align-items: center;
  border: none;
  cursor: pointer;
}
.footer__icons-btn:hover {
  background-color: #F16D7F;
}
.footer__icons-btn:hover svg {
  fill: #ffffff;
}

/* Планшет */
@media (min-width: 848px) and (max-width: 1139px) {
  .container {
    max-width: 736px;
  }
  .main__wrapper {
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 65px;
  }
  .mainLeftSide {
    max-width: 386px;
    max-height: 368px;
  }
  .mainRightSide {
    padding: 138px 33px 137px 39px;
    max-height: 368px;
  }
  .textMainTitle {
    font-size: 44px;
  }
  .textMain {
    font-size: 24px;
  }
  .card {
    gap: 19px;
    margin-bottom: 110px;
  }
  .cardFirst {
    width: 232px;
    height: 168px;
  }
  .cardSecond {
    width: 232px;
    height: 168px;
  }
  .cardThird {
    width: 232px;
    height: 168px;
  }
  .cardFourth {
    width: 735px;
    height: 116px;
  }
  .salesTitle {
    margin-bottom: 72px;
  }
  .salesCards {
    gap: 16px;
  }
  .salesCard {
    margin-bottom: 0;
  }
  .btnCentr {
    margin-top: 32px;
    margin-bottom: 70px;
  }
  .advantages__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px 0 64px 0;
  }
  .advantages__card {
    max-width: 340px;
  }
  .subscribe__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 64px 0 146px 0;
  }
  .subscribe__leftSide {
    padding: 0;
  }
  .subscribe__rightSide {
    padding: 0;
  }
}
/* Телефон */
@media (max-width: 847px) {
  .container {
    max-width: 343px;
  }
  .header__wrapper {
    padding: 18px 16px;
  }
  .buttonNone {
    display: none;
  }
  .main_wrapper {
    max-width: 375px;
  }
  .mainLeftSide {
    display: none;
  }
  .mainRightSide {
    padding: 148px 56px;
  }
  .textMainTitle {
    font-size: 38px;
  }
  .textMain {
    font-size: 20px;
  }
  .card {
    gap: 32px;
    margin-bottom: 64px;
  }
  .cardFirst .cardSecond .cardFourth {
    max-width: 343px;
    max-height: 248px;
  }
  .cardFourth {
    max-height: 111px;
    background-position: center;
    background-size: cover;
  }
  .salesTitle {
    margin-bottom: 64px;
  }
  .salesCards {
    gap: 16px;
  }
  .salesCard {
    margin-bottom: 0;
  }
  .btnCentr {
    margin-top: 24px;
    margin-bottom: 85px;
  }
  .advantages__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 46px;
    padding: 48px 0 81px 0;
  }
  .advantages__card {
    max-width: 340px;
  }
  .subscribe__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 64px 0 109px 0;
  }
  .subscribe__leftSide {
    padding: 0;
  }
  .subscribe__leftSide-text {
    font-size: 18px;
  }
  .subscribe__rightSide {
    padding: 0;
  }
  h2 {
    font-size: 14px;
  }
  .subscribe__input {
    padding-right: 40px;
  }
  .footer__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 43px 0 9px 0;
  }
}/*# sourceMappingURL=style.css.map */